<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike Price prediction</title>
</head>
<body>
    <h2>Bike price prediction project</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quae aperiam hic, 
        ipsum dolor excepturi, eum consectetur ex dicta mollitia quia quibusdam nemo
         esse voluptate distinctio eos consequatur ratione. Sequi.</p>

         <a href="/user_data"><button>GET PREDICTION</button></a>

</body>
</html>