<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike user data</title>
</head>
<body>
    <h2>Plz enter the bike details</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat consequatur impedit adipisci facilis accusantium iusto saepe itaque placeat voluptates, nihil voluptatibus voluptas inventore ipsam enim maxime neque! Illo, dolorem modi!</p>

<form action="">
    <!-- owner  -->
    <label for="">Ownership Of BIKE :</label>
    <select name="" id="">
<option value="1">First owner</option>
<option value="2">second owner</option>
<option value="3">third owner</option>
<option value="4">fourth owner</option>
    </select>
</form>


</body>
</html>